# Pandas basic

- Pandas uses a data structure called DataFrame to read and store tabular data
- a Pandas Series is more powerful than a numpy array because numpy is only limited to integer/float values while a Series can be comprised of different data types  
  *(see example data.loc[2] below for series object representation)*

## Selecting specific rows/columns

In [51]:
import pandas as pd
import numpy as np
# read data from url
data = pd.read_csv('http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv', index_col=0)

# display the first 5 rows
print data.head()

# display the 3rd row
print data.loc[2]  # .loc() takes slicing notation

# display the last 3 rows
num_rows = data.shape[0]
print data.loc[num_rows-5:num_rows]

# display the first 2 columns
print data[['TV','Radio']].head(5)

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9
TV           44.5
Radio        39.3
Newspaper    45.1
Sales        10.4
Name: 2, dtype: float64
        TV  Radio  Newspaper  Sales
195  149.7   35.6        6.0   17.3
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4
      TV  Radio
1  230.1   37.8
2   44.5   39.3
3   17.2   45.9
4  151.5   41.3
5  180.8   10.8

## Adding Columns

In [8]:
data['New Column'] = data['TV']+data['Radio']
print data.head(5)

      TV  Radio  Newspaper  Sales  New Column
1  230.1   37.8       69.2   22.1       267.9
2   44.5   39.3       45.1   10.4        83.8
3   17.2   45.9       69.3    9.3        63.1
4  151.5   41.3       58.5   18.5       192.8
5  180.8   10.8       58.4   12.9       191.6

## Sorting columns

parameters:
- inplace   :whether or not we want to overwrite the same column or create a new column
- ascending :sort in ascending/descending order

In [9]:
data.sort_values("New Column", inplace=True, ascending=False)
print data['New Column'].head(5)

102    332.7
99     332.0
184    330.6
176    325.8
199    325.6
Name: New Column, dtype: float64

## Missing values

- pd.isnull() returns True/False for missing data

In [42]:
# data set with missing values
nfl_data = pd.read_csv('nfl-suspensions-data.csv')
print nfl_data.columns
nfl_data.head(7)

Index([u'name', u'team', u'games', u'category', u'desc.', u'year', u'source'], dtype='object')

,name,team,games,category,desc.,year,source
0,F. Davis,WAS,Indef.,"Substance abuse, repeated offense",Marijuana-related,2014,http://www.cbssports.com/nfl/eye-on-football/2...
1,J. Blackmon,JAX,Indef.,"Substance abuse, repeated offense",NaN,2014,http://espn.go.com/nfl/story/_/id/11257934/jus...
2,L. Brazill,IND,Indef.,"Substance abuse, repeated offense",NaN,2014,http://www.nfl.com/news/story/0ap2000000364622...
3,T. Jackson,WAS,Indef.,"Substance abuse, repeated offense",NaN,2014,http://www.nfl.com/news/story/0ap2000000364087...
4,M. Hapes,NYG,Indef.,Personal conduct,Gambling-related,1946,http://espn.go.com/blog/nflnation/tag/_/name/f...
5,R. Rice,BAL,Indef.,Personal conduct,Domestic violence,2014,http://espn.go.com/new-york/nfl/story/_/id/114...
6,F. Filchock,NYG,36,Personal conduct,Gambling-related,1947,http://espn.go.com/blog/nflnation/tag/_/name/f...

In [47]:
# find which rows in 'desc' column is missing
missing = pd.isnull(nfl_data['desc.'])
print missing.head(7)

# display the names for which the 'desc.' column is misisng
print nfl_data['name'][missing == True].head(3)
# print the index for the corresponding rows
print nfl_data['name'][missing == True].head(3).index

0    False
1     True
2     True
3     True
4    False
5    False
6    False
Name: desc., dtype: bool
1    J. Blackmon
2     L. Brazill
3     T. Jackson
Name: name, dtype: object
Int64Index([1, 2, 3], dtype='int64')

### Replacing missing values in a vector

In [34]:
nfl_data['desc.'][missing == True] = 'N/A'
print nfl_data.head(7)

            team   games                           category  \
name
F. Davis     WAS  Indef.  Substance abuse, repeated offense
J. Blackmon  JAX  Indef.  Substance abuse, repeated offense
L. Brazill   IND  Indef.  Substance abuse, repeated offense
T. Jackson   WAS  Indef.  Substance abuse, repeated offense
M. Hapes     NYG  Indef.                   Personal conduct
R. Rice      BAL  Indef.                   Personal conduct
F. Filchock  NYG      36                   Personal conduct

                         desc.  year  \
name
F. Davis     Marijuana-related  2014
J. Blackmon                N/A  2014
L. Brazill                 N/A  2014
T. Jackson                 N/A  2014
M. Hapes      Gambling-related  1946
R. Rice      Domestic violence  2014
F. Filchock   Gambling-related  1947

                                                        source
name
F. Davis     http://www.cbssports.com/nfl/eye-on-football/2...
J. Blackmon  http://espn.go.com/nfl/story/_/id/11257934/jus...
L. Brazill   http://www.nfl.com/news/story/0ap2000000364622...
T. Jackson   http://www.nfl.com/news/story/0ap2000000364087...
M. Hapes     http://espn.go.com/blog/nflnation/tag/_/name/f...
R. Rice      http://espn.go.com/new-york/nfl/story/_/id/114...
F. Filchock  http://espn.go.com/blog/nflnation/tag/_/name/f...

### Replacing missing values in a matrix
   
- **.iloc** takes in matrix indices and returns the **position** of the argument
- **.loc** takes in matrix indeces and returns the row corresponding to the argument (index)  
**adding a second argument specifics column**

In [66]:
print data.head(5)
print data.iloc[2] #this prints the row with python position 2 (index==3) because python numbering starts from 0
print data.loc[3]  #this prints the same as above, because .loc refers to the index, not the position

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9
TV           17.2
Radio        45.9
Newspaper    69.3
Sales         9.3
Name: 3, dtype: float64
TV           17.2
Radio        45.9
Newspaper    69.3
Sales         9.3
Name: 3, dtype: float64

### .reset_index( )  must be called to re-index rows after rows are dropped
- .dropna drops all rows that have missing values across **all** the columns
- .dropna(subset = list of columns) drops rows that have missing values in the **subset** of columns **(1 or more)**

In [73]:
nfl_dropped = nfl_data.dropna(subset=['desc.'])
print nfl_dropped.head(3)

print nfl_dropped.reset_index().head(3)

       name team   games                           category  \
0  F. Davis  WAS  Indef.  Substance abuse, repeated offense
4  M. Hapes  NYG  Indef.                   Personal conduct
5   R. Rice  BAL  Indef.                   Personal conduct

               desc.  year                                             source
0  Marijuana-related  2014  http://www.cbssports.com/nfl/eye-on-football/2...
4   Gambling-related  1946  http://espn.go.com/blog/nflnation/tag/_/name/f...
5  Domestic violence  2014  http://espn.go.com/new-york/nfl/story/_/id/114...
   index      name team   games                           category  \
0      0  F. Davis  WAS  Indef.  Substance abuse, repeated offense
1      4  M. Hapes  NYG  Indef.                   Personal conduct
2      5   R. Rice  BAL  Indef.                   Personal conduct

               desc.  year                                             source
0  Marijuana-related  2014  http://www.cbssports.com/nfl/eye-on-football/2...
1   Gambling-related  1946  http://espn.go.com/blog/nflnation/tag/_/name/f...
2  Domestic violence  2014  http://espn.go.com/new-york/nfl/story/_/id/114...

## Pivoting

- .pivot_table(index, values, aggfunc)

In [53]:
titanic_survival = pd.read_csv('titanic_train.csv')
print titanic_survival.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [58]:
# The "survived" column contains a 1 if the passenger survived, and a 0 if not
# The pivot_table method on a pandas dataframe will let us do this
# index specifies which column to subset data based on (in this case, we want to compute the survival percentage for each class)
# values specifies which column to subset based on the index
# The aggfunc specifies what to do with the subsets
# In this case, we split survived into 3 vectors, one for each passenger class, and take the mean of each
passenger_survival = titanic_survival.pivot_table(index="Pclass", values="Survived", aggfunc=np.mean)

# First class passengers had a much higher survival chance
print(passenger_survival)
# Determine their age by class
passenger_age = titanic_survival.pivot_table(index='Pclass', values='Age', aggfunc=np.mean)
print passenger_age

# Combine the above two
passenger_survival = titanic_survival.pivot_table(index="Pclass", values=["Age", "Survived"], aggfunc=np.mean)
print(passenger_survival)

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64
Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64
              Age  Survived
Pclass
1       38.233441  0.629630
2       29.877630  0.472826
3       25.140620  0.242363

## Performing a function - Apply

- .apply(function, axis=0/1)  (for column/row)  
*Applies a function across ALL columns and rows*

In [75]:
# This is a function that counts the number of Null values in a column
def null_count(column):
    # Make a vector that contains True if null, False if not.
    column_null = pd.isnull(column)
    # Create a new vector with only values where the series is null.
    null = column[column_null == True]
    # Return the count of null values.
    return len(null)

# count how many null values are in the data set
print nfl_data.apply(null_count)

name          0
team          0
games         0
category      0
desc.       178
year          0
source        0
dtype: int64

In [87]:
# This is a function that counts the number of minors across rows labeled 'age'
def minor(row):
    if row['Age']<18:
        return 'minor'
    elif pd.isnull(row['Age']):
        return 'unknown'
    else:
        return 'adult'
        
age_labels = titanic_survival.apply(minor, axis=1)
print age_labels.iloc[4:9]

4      adult
5    unknown
6      adult
7      minor
8      adult
dtype: object

## Combining pivoting and apply techniques

In [88]:
age_labels = titanic_survival.apply(minor, axis=1)
titanic_survival['age_labels']=age_labels

age_group_survival=titanic_survival.pivot_table(index='age_labels', values='Survived', aggfunc=np.mean)
print age_group_survival

age_labels
adult      0.381032
minor      0.539823
unknown    0.293785
Name: Survived, dtype: float64

## Vaule_counts
Returns object containing counts of unique values

In [102]:
print titanic_survival['age_labels'].value_counts().index
print ' '
print titanic_survival['age_labels'].value_counts().values
print ' '
print titanic_survival['age_labels'].value_counts()

Index([u'adult', u'unknown', u'minor'], dtype='object')

[601 177 113]

adult      601
unknown    177
minor      113
Name: age_labels, dtype: int64