# Creating relations in SQLite

In [1]:
import sqlite3
conn = sqlite3.connect('nominations.db')

In [2]:
schema=conn.execute('pragma table_info(nominations)')
first_ten=conn.execute('select * from nominations limit 10')
for item in schema:
    print(item)
for item in first_ten:
    print(item)

(0, 'Year', 'INTEGER', 0, None, 0)
(1, 'Category', 'TEXT', 0, None, 0)
(2, 'Nominee', 'TEXT', 0, None, 0)
(3, 'Won', 'INTEGER', 0, None, 0)
(4, 'Movie', 'TEXT', 0, None, 0)
(5, 'Character', 'TEXT', 0, None, 0)
(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

## Create table for normalization

### Create table

In [13]:
q='''create table ceremonies(
id integer primary key,
year integer,
host text
)'''
conn.execute(q)

OperationalError: table ceremonies already exists

### Usng .executemany

In [4]:
years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal")
            ]

insert_query = "INSERT INTO ceremonies (Year, Host) VALUES (?,?);"
conn.executemany(insert_query, years_hosts)

In [5]:
print(conn.execute('select * from ceremonies limit 10').fetchall())
print(conn.execute('pragma table_info(ceremonies)').fetchall())

[(1, 2010, 'Steve Martin'), (2, 2009, 'Hugh Jackman'), (3, 2008, 'Jon Stewart'), (4, 2007, 'Ellen DeGeneres'), (5, 2006, 'Jon Stewart'), (6, 2005, 'Chris Rock'), (7, 2004, 'Billy Crystal'), (8, 2003, 'Steve Martin'), (9, 2002, 'Whoopi Goldberg'), (10, 2001, 'Steve Martin')]
[(0, 'id', 'integer', 0, None, 1), (1, 'year', 'integer', 0, None, 0), (2, 'host', 'text', 0, None, 0)]

## Foreign key constraints
makes sure that SQLite makes sure that the foreign key value exists

**Needs to be executed for EVERY SQLite connection**

In [6]:
conn.execute('pragma foreign_keys=on;')

## One-to-many setup
SQLite cannot delete columns, so in order to set up a new table:
- create new table 'nominations_two'
- populate nominations_two with desired data
- delete original nominations table
- rename nominations_two to nominations

In [14]:
q_join='''SELECT ceremonies.id, nominations.category, 
nominations.nominee, nominations.movie, nominations.character, 
nominations.won FROM nominations INNER JOIN ceremonies ON
nominations.year == ceremonies.year
;'''

nom_query = '''
select ceremonies.id as ceremony_id, nominations.category as category, 
nominations.nominee as nominee, nominations.movie as movie, 
nominations.character as character, nominations.won as won
from nominations
inner join ceremonies 
on nominations.year == ceremonies.year
;
'''

q_create_table='''create table nominations_two(
id integer primary key, category text, nominee text, movie text, 
character text, won text, ceremony_id integer, 
foreign key(ceremony_id) references ceremony(id))'''

# Create new table nominations_two
#conn.execute(q_create_table)

In [15]:
# join the two tables
joined_nominations = conn.execute(nom_query).fetchall()
print(conn.execute('select * from joined_nominations limit 3').fetchall())

OperationalError: no such table: joined_nominations

In [ ]:
q_insert = '''
insert 

# insert data
#insert_nominations_two = conn.executemany()